* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeholder {
    background-color: #F1F3F6;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #047bd5;
    padding: 0.5rem 5%;
    flex-wrap: wrap;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.search-bar {
    background-color: white;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.left-header input {
    border: none;
    padding: 0.5rem;
    width: 250px;
    max-width: 60vw;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    flex-wrap: wrap;
}

.right-header button {
    color: #047bd5;
    background-color: white;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 4px;
}

.selec {
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #047bd5;
    color: white;
}



.item-menu {
    display: flex;
    height: auto;
    background-color: white;
    justify-content: center;
    font-size: 15px;
    padding-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem
}

.items {
    transition: 0.3s;

    border-radius: 10px;
}

.items:hover {
    transform: translateY(-5px);
    /* transform: translateX(-5px); */
    box-shadow: 0 0 10px #047bd5;
}

.item-menu img {
    height: 5rem;
    border-radius: 10px;
}




.products {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
    /* margin-right: 15px; */
    margin-left: 6rem;
    flex-wrap: wrap;
    background-color: white;
}

.p-head {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.left-p-head {
    display: flex;
    gap: 1rem;
    margin-left: 8px;
}

.right-p-head {
    margin-right: 8px;
}

.right-p-head button {
    background-color: #047bd5;
    text-decoration: none;
    width: 80px;
    height: 30px;
    color: white;
}


.p-body {
    display: flex;
    /* width: 100%; */
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-body div {
    align-items: center;
}

.p-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
    transition: 0.3s;
    border-radius: 8px;
}

.p-item img {
    height: 12rem;
    width: 11rem;
    border-radius: 5px;
    object-fit: cover;
}

.banner {
    /* border: 2px solid rgb(204, 16, 16); */
    max-width: 20%;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    position: sticky;
}

.banner img {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid yellowgreen;
    box-shadow: 5px 5px 30px lightcoral, 8px 8px 20px yellow;
}

.products-main {
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 20px; */
}

.products-books {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
    margin-left: 6rem;
    flex-wrap: wrap;
    background-color: white;
}

.p-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px gray;
}


div>a {
    text-decoration: none;
    color: #047bd5;
}


@media (max-width: 1000px) {

    .p-body {
        justify-content: center;
        gap: 1.5rem;
    }

    .p-item {
        max-width: 50%;
    }

    .p-item img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .products {
        margin-left: auto;
        margin-right: auto;
    }

    .products-books {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px) {

    .p-body {
        justify-content: center;
        gap: 1.5rem;
    }

    .p-item {
        max-width: 75%;
    }

    .p-item img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .products {
        margin-left: auto;
        margin-right: auto;
    }

    .products-books {
        margin-left: auto;
        margin-right: auto;
    }
    .banner{
        visibility: hidden;
    }
}