*{
    margin: 0;
    padding: 0;
}
.placeholder{
    background-color: #F1F3F6;
    height: 100vh;
}
.header{
    display: flex;
    width: 100% ;
    height: 4rem;
    justify-content: space-between;
    background-color: #047bd5;
}
.left-header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    margin-left: 15%;
}
.search-bar{
    background-color: white;
    display: flex;
}
.left-header img{
    height: 3rem;
    width: 6rem;
    /* width: 150px; */
}
.left-header input{
    height: 2.rem;
    border: none;
    width: 22rem;
}
.right-header{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 15%;
    gap: 2rem;
}
.right-header button{
    color: #047bd5;
    background-color: white;
    width: 6rem;
    height: 2rem ;
}
.item-menu{
    display: flex;
    height: 8rem;
    background-color: white;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    flex-wrap: wrap;
    gap:2.5rem
    
}
.item-menu img{
    
    height: 5rem;
}
select{
    border: none;
}


.products{
        display: flex;
        flex-direction: column  ;
        max-width: 80%;
        margin-top: 15px;
        margin-left: 8rem;
        background-color: white;
}
.p-head{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}
.left-p-head{
    display: flex;
    gap: 1rem;
    margin-left: 8px;
}
.right-p-head{
    margin-right:8px;
}

.p-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.p-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.p-item img{
    height: 13rem;
    width: 12rem;
}
