body.dark-mode {
    background-color: #121212 !important;
    color: white;
}

body.dark-mode .bg-light {
    background-color: #1e1e1e !important;
}

body.dark-mode .btn {
    background-color: #2c2c2c;
    color: white;
    border-color: #444;
}

body.dark-mode .btn-primary {
    background-color: #0d6efd;
}

body.dark-mode .bg-white {
    background-color: #1e1e1e !important;

}

body.dark-mode .border {
    border-color: #444 !important;
}
.btn-primary{
    background-color: #0067C0;
    color: white;
}
button:hover{
    background-color: #444;
}